P "CDS_LMAN_SYM_OUTLINE" "-125,125,125,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 125 -125 -125 -1 0
L -125 125 125 125 -1 0
L 125 125 125 -125 -1 0
L -125 -125 125 -125 -1 0
T 50 58 0 0 32 0 0 1 0 6 0
lt1085
L 0 -175 0 -125 -1 0
C 0 -175 "1" 0 -200 0 1 32 1 R
X "PIN_TEXT" "ADJ" 1 -115 90 0 24 0 0 0 0 0 1 0 0
L 175 0 125 0 -1 0
C 175 0 "2" 200 0 0 1 32 0 L
X "PIN_TEXT" "VOUT" 115 0 0 0 24 0 0 2 0 0 1 0 0
L -175 0 -125 0 -1 0
C -175 0 "3" -200 0 0 1 32 0 R
X "PIN_TEXT" "VIN" -115 0 0 0 24 0 0 0 0 0 1 0 0
L 0 175 0 125 -1 0
C 0 175 "4" 0 200 0 1 32 1 L
X "PIN_TEXT" "OUTPUT" 0 115 90 0 24 0 0 2 0 0 1 0 0


