P "CDS_LMAN_SYM_OUTLINE" "-125,125,125,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -125 125 -125 -125 -1 0
L -125 125 125 125 -1 0
L 125 125 125 -125 -1 0
L -125 -125 125 -125 -1 0
T 0 133 0 0 32 0 0 1 0 6 0
bav99t
L -125 100 0 100 -1 0
L 0 100 0 -100 -1 0
L 0 -100 -125 -100 -1 0
L 125 0 0 0 -1 0
L -75 125 -75 75 -1 0
L -75 75 -50 100 -1 0
L -75 125 -50 100 -1 0
L -50 -75 -50 -125 -1 0
L -50 -125 -75 -100 -1 0
L -50 -75 -75 -100 -1 0
L -75 -75 -75 -125 -1 0
L -50 125 -50 75 -1 0
L -175 100 -125 100 -1 0
C -175 100 "ANODE1" 75 50 0 1 32 0 R
X "PIN_TEXT" "ANODE1" -265 100 0 0 24 0 0 0 0 0 1 0 0
L 175 0 125 0 -1 0
C 175 0 "ANODE2" -75 25 0 1 32 0 L
X "PIN_TEXT" "ANODE2" 240 25 0 0 24 0 0 2 0 0 1 0 0
L -175 -100 -125 -100 -1 0
C -175 -100 "CATHODE" -150 -75 0 1 32 0 R
X "PIN_TEXT" "CATHODE" -315 -99 0 0 24 0 0 0 0 0 1 0 0


