P "CDS_LMAN_SYM_OUTLINE" "-150,125,150,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -150 125 -150 -125 -1 0
L -150 125 150 125 -1 0
L 150 125 150 -125 -1 0
L -150 -125 150 -125 -1 0
T 0 83 0 0 32 0 0 1 0 6 0
bfr182
L -25 25 25 25 -1 0
L 0 25 0 75 -1 0
L -150 75 0 75 -1 0
L 0 25 25 0 -1 0
L 25 0 150 0 -1 0
L 0 25 -25 0 -1 0
L -25 0 -25 -75 -1 0
L -25 -75 -150 -75 -1 0
L -50 -25 0 -25 -1 0
L 0 -25 -25 -50 -1 0
L -50 -25 -25 -50 -1 0
L -200 75 -150 75 -1 0
C -200 75 "BASE" -225 75 0 1 32 0 R
X "PIN_TEXT" "BASE" -140 75 0 0 24 0 0 0 0 0 1 0 0
L -200 -75 -150 -75 -1 0
C -200 -75 "EMIT" -225 -75 0 1 32 0 R
X "PIN_TEXT" "EMIT" -140 -74 0 0 24 0 0 0 0 0 1 0 0
L 200 0 150 0 -1 0
C 200 0 "COLL" 225 0 0 1 32 0 L
X "PIN_TEXT" "COLL" 140 0 0 0 24 0 0 2 0 0 1 0 0


